---
layout: noindex
sitemap: false
---

<div class="header">
    <h1>unindexed</h1>
    <ul>
        <li>
            hush... this page is secret!
        </li> 
        <li>
            <a href="{{ site.url }}">take me back</a>
        </li>       
    </ul>
</div>
<div class="blog">
<p><strong>Blimey!</strong> How did you get in here?! This is work in progress and hasn't been published to the site index. </p>
<br/>
    <ul>
        {% for post in site.posts %}
        {% if post.private == true %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% else %}
        {% endif %}
        {% endfor %}
    </ul>
</div>
